/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*开始写sass样式**/
$bg_white:white;
$bg_black:black;
$min-width:1200px;
$font:14px/1.5 "PingFang SC", Helvetica, "Helvetica Neue", "微软雅黑", Tahoma, Arial, sans-serif;
@mixin link-a {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
}
@mixin cf{
  zoom: 1;
  &:before, &:after { content: ""; display: table; }
  &:after { clear: both; }
}
body{
  background-color:$bg_white;
  height:100%;
  width: 100px;
  min-width: $min-width;
  font: $font;
  color: $bg_white;
}
#header {
  padding-top: 10px;
  height:70px;
  width: 100%;
  color: $bg_black;
}
#nav {
  padding:0 15px;
  width: auto;
  height: 60px;
  margin:0 auto;
  position: relative;
  z-index: 1000;
  @include cf;
}
#logo{
  float: left;
  margin:0 20px;
  margin-left: 0;
  background-size: cover;
}
#logo a {
  @include link-a;
  height: 60px;
  width: 140px;
  text-indent: 100%;  //段落缩进
  background: url('../images/imooc_img/logo.png') no-repeat center center;
  background-size: 100%;
}
.nav-item {
  float: left;
   height:60px;
   width: auto;
   list-style: none;
  @include cf;
}
.nav-item li {
  height:100%;
  width: 72px;
  float: left;
}
.nav-item li a {
  @include link-a;
  text-align: center;
  line-height: 60px;
  width: 100%;
  height: 100%;
  color:black;
  font-size: 16px;
  &:hover{
      color:red;
  }
}
.log-area{
  float: right;
  height: 100%;
  width: auto;
}
.login {

  @include cf;
}
.login > li {
    float:left ;
    position: relative;

}
.login > li a {
    @include link-a;
    height: 60px;
    width: 50px;
    line-height: 60px;
    color: #787d82;
    &:link,&:visited{
      color: #14191e;
    }
}
.login > li > a > i {
    line-height: 60px;
    color:#787d82;
    font-size: 22px;
}
.remind_warp {
  width: 60px;
  height:60px;
}
.remind_warp .msg_icon{
  right:5px;
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: red;
  display: none;
  top:14px;
  border-radius: 50%;
}
.remind_warp .icon-notifi {
    display: block;
    line-height: 60px;
    font-size: 22px;
  text-align: center;
  cursor: pointer;
  transition: color 0.2s;
  &:before {
    content: "\e909";
  }
}
.remind_warp .icon-notifi:hover {
  color: #fff!important;
  background-color: #363c41;
}
[class^="icon-"],[class*=" icon-"]{
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




